.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

.wrapper a {
    color: #01B0F1;
}

.menu {
    border-bottom: 3px solid #01B0F1;
}

.header,
.about {
    font-family: cursive,sans-serif;
}

.header,
.about,
.devStack,
.devStackSchema,
.skills {
    background-color: #fff;
    color: #01B0F1;
}

.devStackReverse,
.WorkReverse,
.programmingEducation,
.programmingEducation a,
.WorkReverse a,
.footer, 
.footer a {
    background-color: #01B0F1;
    color: #fff;
}

.footer,
.push {
    height: 40px;
}

.push {
    background-color: #fff; 
}

.oidcSchema,
.oidcSchema a,
.privacyPolicy, 
.privacyPolicy a,
.resources,
.resources a {
    background-color: #fff;
    color: #333;
}

.resources {
    min-height: 75vh;
}

.resources a {
    opacity: 1;
}

.privacyPolicy p,
.resources p {
    padding-bottom: 0.5rem;
}

.privacyPolicy ul {
    list-style: disc;
    padding-left: 1rem;
    margin-left: 0.5rem;
}

.contact a {
    color: #333;
}

.topbar {
    background-color: #01B0F1;
    min-height: 8px;
}

.logoImage {
    filter: hue-rotate(149deg);
}

.about {
    color: #01B0F1;
}

.avatar {
    filter: hue-rotate(10deg);
    height: 150px;
    width: 130px;
}

.WorkReverse {
    position: relative;
}

.helperUse {
    position: absolute;
    top: 15px;
    right: 100px;
    padding: 15px;
    height: 50px;
    background-color: #03a9e7;
    color: #fff;
    opacity: .9;
    border-radius: 50%;
    user-select: none;
    content: '';
}

.helperUse:before {
    content: '--------------------------------';
    font-size: 2rem;
    transform: rotate(-12deg);
    position: absolute;
    left: -338px;
    top: 37px;
}