html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f1f1f1;
}

* {
  box-sizing: border-box;
}

a {
  color: #333;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
}

img {
  max-width: 100%;
  display: block;
}

article {
  padding: 1.5rem 0;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background: #fff;
  margin: 1rem 0;
  border-radius: 20px;
}

article > * {
  padding: 0 0.5rem;
  width: 100%;
  margin: .5rem 0;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  font-weight: 500;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

button {
  padding: 10px;
  outline: none;
  border: 0.1px solid transparent;
  opacity: .8;
  cursor: pointer;
}

button:hover {
  opacity: 1;
  border-color: #767676;
}

:root {
  --primary-color: rgb(231, 182, 49);
  --light-white: #fff;
  --transion-delay: .5s;
}